/*   Code for \PriceWise\src\components\Products\Products.css   */

.products-content {
  padding-top: 100px; /* Adjust based on your header's height */
}

.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.products h1 {
  font-size: 3.5rem;
  color: var(--cyan);
}

.products p {
  font-size: 2.5rem;
  color: var(--text-color);
}

.sort-container {
  margin-left: 60px;
  margin-bottom: 20px;
}

.sort-container select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--background-color-1);
  cursor: pointer; /* Add pointer cursor for better UX */
  background: var(--background-color-1);
  color: var(--text-color);
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    padding: 60px;
    padding-top: 10px;
  }

  
  
  .product-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Aligns children to start and end */
    height: 100%; /* Ensure it takes full height to allow space-between to work */
    border: 1px solid var(--background-color-1);
    background: var(--background-color-1);
    padding: 20px;
    border-radius: 8px;
    text-align: left;
  }

  .product-box h2 {
    font-size: 17px;
    color: var(--cyan);
  }

  .product-box h3 a {
    font-size: 18px;
    color: var(--text-color);
    font-weight: 500;
    height: 100%;
  }

  .product-box img.product-image {
    max-width: 100%;
    height: auto;
    margin: 20px;
    margin-bottom: 25px;
    border-radius: 8px;
  }

  .price-and-unit {
    margin-top: 8px;
    align-items: flex-end;
  }

  p.price {
    display: inline-flex;
    margin-right: 8px;
    color: var(--cyan);
    font-size: 19px;
    font-weight: 600;
  }

  p.unit {
    display: inline-flex;
    color: var(--cyan);
    font-size: 16px;
    font-weight: 500;
  }

  .spinner {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
  }

  .spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust this value based on your layout needs */
  }
  
  .spinner-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color-1); /* Adjust color as needed */
    border-radius: 10px; /* Rounded corners for the spinner box */
    width: 100px; /* Adjust width as needed */
    height: 100px; /* Adjust height as needed */
    margin: auto; /* Center the box */
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

