/*   Code for \PriceWise\src\components\Header\Header.css   */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 9%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 9999;
    background: var(--background-color-1);
    box-shadow: var(--box-shadow);
    border-bottom: 1px solid var(--border-color);
  }
  .header .logo {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--text-color);
  }
  .header .logo i {
    color: var(--cyan);
    margin-right: 0.5rem;
  }
  .header .icons button {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    margin-left: 0.8rem;
    cursor: pointer;
    text-align: center;
    font-size: 2rem;
    background: var(--background-color-2);
    border-radius: 0.5rem;
    border: 1px solid var(--border-color);
  }
  .header .icons button .fa-icon {
    color: var(--text-color);
    transition-duration: 0s;
  }
  .header .icons button:hover .fa-icon {
    color: var(--text-color);
  }
  .header .icons button:hover {
    background: var(--cyan);
  }
  .header .icons #menu-btn {
    display: none;
  }

